body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 15px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: cyan;
}

/* Page Content */
h1 {
  margin: 20px;
}

/* Footer */
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}